<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENSMASTEEL</title>
  <link rel="shortcut icon" type="image/png" href="/static/pictures/ensmasteel-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/background.css">
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bottom.css">
  <script src="/static/js/viewport.js"></script>
</head>
<body>

  <div id="menu-container" class="menu-container" style="opacity: 1;">
    <div id="menu-bar" class="menu-bar color-inverted row-container noflex show">
        <div class="row-container noflex left-align">
            <img src="/static/pictures/ensmasteel-logo.png" class="menu-bar-logo">
            <span class="text preserve">ENSMASTEEL</span>
        </div>
    </div>
    <button id="menu-button" class="menu-button">
        <div class="line"></div>
        <div class="line"></div>
    </button>
    <iframe src="/menu.html" style="border: none; width: 100%; height: 100%;"></iframe>
  </div>

  <div id="page-content" class="page-content show" style="--animation-duration: 0s; --animation-delay: 0s;">

    <div class="content-container">
        <div class="row-wrap-container picture-text">
            <img src="/static/pictures/ensmasteel-CDRposter-2023.png" class="picture">
            <div class="column-container left-align gap-cr">
                <span class="text title">Qu'es-ce que devenir partenaire de l'ENSMASTEEL ?</span>
                <span class="text">Le développement de robots pour la Coupe de France de Robotique est un processus coûteux en temps et en argent. C'est pourquoi nous travaillons avec des entreprises ou toute autre entité intéressée par nos projets.</span>
                <span class="text">L'accord est en règle générale <span style="color: #0b85c2;">un soutien financier ou matériel en échange de publicité</span>. Cependant, nous sommes ouverts à toutes propositions afin de répondre au mieux à vos besoins. Plus de détails sont apportés sur cette page, notamment concernant nos besoins et les possibilités de publicités.</span>
            </div>
        </div>
    </div>

    <div class="content-container color-inverted">
      <div class="row-wrap-container picture-text">
          <div class="column-container left-align gap-cr">
              <span class="text title">Nos objectifs</span>
              <span class="text">Les connaissances acquises grâce à notre formation d'ingénieur et à nos projets personnels nous permettent de viser <span style="color: #af4507;">une bonne place à la Coupe de France de Robotique</span>. De plus, l'ENSMASTEEL y participe depuis maintenant quelques années, nous savons parfaitement à quoi nous attendre et comment bien préparer la compétition.</span>
              <span class="text">Nous tenons aussi à continuellement améliorer notre robot en reprenant les points forts des années précentes tout en innovant. Par exemple, nous prévoyons d'ajouter une caméra cette année afin d'effectuer de la reconnaissance d'image pour repérer toutes les entités sur la table de jeu (robots et éléments).</span>
            </div>
          <img src="/static/pictures/CDR-arene.jpg" class="picture">
        </div>
    </div>

    <div class="content-container">
      <div class="row-wrap-container picture-text">
          <img src="/static/pictures/CDR2024-table.webp" class="picture">
          <div class="column-container left-align gap-cr">
              <span class="text title">Qu'es-ce que la Coupe de France de Robotique ?</span>
              <span class="text">La Coupe de France de Robotique est une compétition regroupant près de <span style="color: #e9890c;">200 équipes</span> organisée depuis 2016 par Planète Sciences et la société d'économie mixte Oryon.</span>
              <span class="text">Les règles du jeu varient chaque année, ce qui impose la construction de nouveaux robots. Toutefois, il existe des constantes : <span style="color: #e9890c;">chaque robot doit être complètement autonome</span>, c'est à dire qu'il doit disposer de ses propres sources d'énergie, actionneurs, capteurs et intelligence, et toutes les commandes à distance et interventions extérieures sont interdites pendant les matchs. De plus <span style="color: #e9890c;">les robots ont de nombreuses contraintes</span> tel qu'une taille maximale ou encore des systèmes d'évitement actifs obligatoires.</span>
              <span class="text">Pour cette année, les matchs se déroulent sur une table de 2x3 mètres et durent 100 secondes. Chaque équipe possède <span style="color: #e9890c;">un robot principal</span> de taille maximale de 300x300x350mm et <span style="color: #e9890c;">de nombreux robots secondaires</span> dont la taille ne dépasse pas un cube de 10cm de côté.<br><span style="color: #e9890c;">→</span> Le principal moyen de gagner des points est de récupérer des plantes disposées aléatoirement au centre de la table, de les mettre dans des pots, et de les disposer aux endroits appropriés.<br><span style="color: #e9890c;">→</span> Une façon secondaire de gagner des points est de venir tourner des panneaux solaires disposés sur le côté de la table.<br>Une des difficultés est que les points peuvent être volés par l'adversaire, par exemple en volant des plantes : il y a un vrai travail sur la stratégie pour cette année.</span>
              <a href="https://www.coupederobotique.fr/wp-content/uploads/Eurobot2024_Rules_CUP_FR_FINAL.pdf" class="text link">Plus d'informations concernant le règlement 2024 de la compétition ›</a>
            </div>
          </div>
    </div>

    <div class="content-container color-inverted">
      <div class="column-container">
          <span class="text title centered">Notre robot</span>
          <div class="row-wrap-container top-align pictures-captions gap-second">
            <div class="column-container gap-cr">
              <img src="/static/pictures/positive-icon.png" class="picture">
              <span class="text">Comme dit précédemment, le robot de cette année reprend les points forts de ceux des années précédentes. Ainsi, le robot principal de cette année a la <span style="color: #109404;">même propulsion que l'année dernière</span>, étant donné que le robot était rapide et précis. <span style="color: #109404;">La carte électronique mère est elle aussi conservée</span> pour sa fiabilité et sa modularité.</span>
            </div>
            <div class="column-container gap-cr">
              <img src="/static/pictures/negative-icon.png" class="picture">
              <span class="text">Néanmoins, la seconde carte électronique de notre robot, <span style="color: #e74631;">la carte de puissance, est retravaillée</span> cette année pour corriger des problèmes de surchauffe rencontrés à l'édition 2023 de la Coupe de France de Robotique. De plus, nous utilisons un Lidar pour évaluer précisément la distance nous séparant des robots adversaires et ainsi éviter une collision : le <span style="color: #e74631;">Lidar</span> utilisé l'année dernière a rencontré de nombreux problèmes, nous le remplaçons donc cette année.</span>
            </div>
            <div class="column-container gap-cr">
              <img src="/static/pictures/increase-icon.png" class="picture">
              <span class="text">Enfin, jusqu'à cette année, nous nous contentions d'exécuter une séquence d'actions prédéfinie sans prendre en compte les faits de jeu. C'est un vrai problème, car notre robot pouvait aller récupérer un élément à un endroit alors que celui-ci avait déjà changé de place : notre robot ne s'adaptait pas aux actions de l'adversaire. Or, cette année, nous comptons <span style="color: #2681e9;">ajouter une caméra</span> afin de repérer les éléments et agir en fonction de leur véritable position, et non de la position où ils sont censés être. <span style="color: #2681e9;">Notre robot sera donc bien plus robuste</span> et pourra faire face à toutes les situations.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="row-wrap-container picture-text">
          <div class="picture-container dual-pictures width-fixed">
            <img src="/static/pictures/ensmasteel-mainBoard-2023.png" class="picture">
            <img src="/static/pictures/ensmasteel-mainBoard-2023-3D.png" class="picture">
          </div>
          <div class="column-container left-align gap-cr">
              <span class="text title">Nos engagements en retour</span>
              <span class="text">Comme n'importe quelle équipe de la Coupe de France de Robotique, nous pouvons faire de la publicité avec des <span style="color: #8383f8;">stickers directement sur notre robot</span>. De plus, tous les membres de l'équipe porteront lors de la compétition un <span style="color: #8383f8;">polo à l'effigie de l'ENSMASTEEL</span>, nous pouvons donc aussi afficher votre logo sur celui-ci.</span>
              <span class="text">Néanmoins, là où l'ENSMASTEEL se démarque de nombreuses autres équipes, c'est le fait que nous sommes un club de l'ISAE-ENSMA, une école d'ingénieurs spécialisée en mécanique et en aéronautique. Ainsi, nous pouvons tout à fait faire de la <span style="color: #8383f8;">publicité pour votre entreprise au sein même de l'école</span>. Cette publicité pourra ainsi être visionnée par près de 900 élèves ingénieurs et doctorants âgés entre 18 et 25 ans.</span>
              <span class="text">Tout cela est à titre indicatif ; n'hésitez surtout pas à nous proposer <span style="color: #8383f8;">vos idées</span> !</span>
          </div>
      </div>
    </div>

    <div class="content-container color-inverted">
      <div class="column-container">
          <div class="column-container gap-cr">
              <span class="text title centered">Participations à la Coupe de France de Robotique</span>
              <span class="text centered">Voici les dernières participations de l'ENSMASTEEL à la Coupe de France de Robotique. Cette liste est non exhaustive.</span>
          </div>
          <div class="row-wrap-container top-align pictures-captions gap-second">
              <div class="column-container gap-cr">
                  <img src="/static/pictures/ensmasteel-robot-2023.png" class="picture">
                  <a href="/ensmasteel/CDF2023.html"  class="text preserve caption title subtitle link">2023 ›</a>
              </div>
              <div class="column-container gap-cr">
                  <img src="/static/pictures/ensmasteel-robot-2022.png" class="picture">
                  <a href="/ensmasteel/CDF2022.html" class="text preserve caption title subtitle link">2022 ›</a>
              </div>
          </div>
      </div>
  </div>

    <div class="content-container">
      <div class="row-wrap-container picture-text">
          <div class="column-container left-align gap-second">
              <span class="text preserve title">Contacts</span>
              <div class="column-container left-align gap-cr">
                  <div class="row-container gap-cr">
                      <img src="/static/pictures/location-icon-black.png" class="icon">
                      <span class="text" style="min-width: 0;">1 Avenue Clément Ader, Chasseneuil du Poitou</span>
                  </div>
                  <div class="row-container gap-cr">
                      <img src="/static/pictures/mail-icon-black.png" class="icon">
                      <a href="mailto:ensmasteel.clubrobotique@gmail.com" class="text preserve link">ensmasteel.clubrobotique@gmail.com</a>
                  </div>
                  <div class="row-container noflex gap-second">
                      <a href="https://twitter.com/Ensmasteel"><img src="/static/pictures/twitter-icon-black.png" class="icon"></a>
                      <a href="https://www.linkedin.com/company/association-ensmasteel/"><img src="/static/pictures/linkedin-icon-black.png" class="icon"></a>
                      <a href="https://github.com/Ensmasteel"><img src="/static/pictures/github-icon-black.png" class="icon"></a>
                      <a href="https://www.youtube.com/@ENSMASTEEL"><img src="/static/pictures/youtube-icon-black.png" class="icon"></a>
                  </div>
              </div>
          </div>
          <img src="/static/pictures/ensma.webp" class="picture">
      </div>
    </div>

  </div>

  <iframe src="/bottom.html" class="bottom-bar"></iframe>

  <div id="background-page" class="background-page show" style="--animation-duration: 0s;"></div>

  <script src="/static/js/pictures.js"></script>
</body>
</html>
