<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#161617" >
  <title>ENSMASTEEL</title>
  <link rel="shortcut icon" type="image/png" href="/static/pictures/ensmasteel-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/hello.css">
  <link rel="stylesheet" type="text/css" href="/static/css/background.css">
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bottom.css">
  <script src="/static/js/viewport.js"></script>
</head>
<body>

  <div id="asso-hello" class="asso-hello">
    <div class="text-container fit-width asso-name">
        <span class="text">ENSMASTEEL</span>
    </div>
    <div class="row-container nogap noflex asso-logo-container">
        <img src="/static/pictures/ensmasteel-logo.png" class="asso-logo">
    </div>
    <div id="asso-scrolldown" class="asso-scrolldown">
        <img src="/static/pictures/arrow-icon-white.png">
    </div>
  </div>

  <div id="menu-container" class="menu-container">
    <div id="menu-bar" class="menu-bar color-inverted row-container noflex show">
        <div class="row-container noflex left-align">
            <img src="/static/pictures/ensmasteel-logo.png" class="menu-bar-logo">
            <span class="text preserve">ENSMASTEEL</span>
        </div>
    </div>
    <button id="menu-button" class="menu-button">
        <div class="line"></div>
        <div class="line"></div>
    </button>
    <iframe src="/menu.html" style="border: none; width: 100%; height: 100%;"></iframe>
  </div>

  <div id="page-content" class="page-content">

    <div class="content-container">
        <div class="row-wrap-container picture-text">
            <img src="/static/pictures/ensmasteel-crew.webp" class="picture">
            <div class="column-container left-align gap-cr">
                <span class="text title">Qui sommes nous ?</span>
                <span class="text">Passionnés de robotique et d'ingénierie, nous sommes un groupe d'étudiants déterminés à relever les défis technologiques de demain. Chaque année, nous nous préparons avec enthousiasme pour participer à la Coupe de France de Robotique, l'événement phare du domaine en France.</span>
                <span class="text">À travers nos projets de conception, de construction et de programmation de robots compétitifs, nous mettons en pratique nos connaissances acquises au sein de notre formation d'ingénieur. La Coupe de France de Robotique est l'occasion pour nous de démontrer nos compétences techniques, notre esprit d'équipe et notre créativité.</span>
                <span class="text">Nous sommes fiers de représenter l'ISAE-ENSMA lors de cette compétition. Notre objectif est de repousser les limites de la robotique en développant des solutions innovantes et performantes.</span>
            </div>
        </div>
    </div>

    <div class="content-container color-inverted">
        <div class="column-container">
            <div class="column-container gap-cr">
                <span class="text title centered">Nos partenaires</span>
                <span class="text centered">Nous remercions nos partenaires pour leur soutien à nos projets</span>
            </div>
            <div class="row-wrap-container top-align pictures-captions gap-second">
                <div class="column-container gap-cr">
                    <img src="/static/pictures/ensma-logo.png" class="picture no-edit" style="background-color: white;">
                    <a href="https://www.ensma.fr" class="text preserve caption title subtitle link">ISAE-ENSMA</a>
                </div>
            </div>
            <a href="/ensmasteel/sponsor" class="text title subtitle centered link">Comment devenir partenaire ? ›</a>
        </div>
    </div>

    <div class="content-container">
        <div class="column-container">
            <div class="column-container gap-cr">
                <span class="text title centered">Développement</span>
                <span class="text centered">Voici les principaux pôles de développement effectués chaque année sur le projet de la Coupe de France de Robotique</span>
            </div>
            <div class="row-wrap-container top-align pictures-captions gap-second">
                <div class="column-container gap-cr">
                    <img src="/static/pictures/catia-logo.png" class="picture no-edit" style="background-color: white;">
                    <span class="text preserve caption title subtitle">CAO</span>
                    <span class="text caption">Catia V5 est notre logiciel de choix pour la conception méanique de notre robot. Le savoir faire que la formation de l'école nous offre nous permet de concevoir avec facilité nos robots.</span>
                </div>
                <div class="column-container gap-cr autoflex">
                    <div class="picture-container dual-pictures height-fixed">
                        <img src="/static/pictures/ensmasteel-mainBoard-2023.png" class="picture">
                        <img src="/static/pictures/ensmasteel-mainBoard-2023-3D.png" class="picture">
                    </div>
                    <span class="text preserve caption title subtitle">Électronique</span>
                    <span class="text caption">Chaque année nous concevons et fabriquons nos propres circuit imprimés afin de satifaire au plus au besoin de notre robot.</span>
                </div>
                <div class="column-container gap-cr">
                    <img src="/static/pictures/cpp-logo.png" class="picture no-edit">
                    <span class="text preserve caption title subtitle">Code</span>
                    <span class="text caption">Principalement le C++</span>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container color-inverted">
        <div class="column-container">
            <div class="column-container gap-cr">
                <span class="text title centered">Participations à la Coupe de France de Robotique</span>
                <span class="text centered">Voici les dernières participations de l'ENSMASTEEL à la Coupe de France de Robotique. Cette liste est non exhaustive.</span>
            </div>
            <div class="row-wrap-container top-align pictures-captions gap-second">
                <div class="column-container gap-cr">
                    <img src="/static/pictures/ensmasteel-robot-2023.png" class="picture">
                    <a href="/ensmasteel/CDF2023.html"  class="text preserve caption title subtitle link">2023 ›</a>
                </div>
                <div class="column-container gap-cr">
                    <img src="/static/pictures/ensmasteel-robot-2022.png" class="picture">
                    <a href="/ensmasteel/CDF2022.html" class="text preserve caption title subtitle link">2022 ›</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="row-wrap-container picture-text">
            <div class="column-container left-align gap-second">
                <span class="text preserve title">Contacts</span>
                <div class="column-container left-align gap-cr">
                    <div class="row-container gap-cr">
                        <img src="/static/pictures/location-icon-black.png" class="icon">
                        <span class="text" style="min-width: 0;">1 Avenue Clément Ader, Chasseneuil du Poitou</span>
                    </div>
                    <div class="row-container gap-cr">
                        <img src="/static/pictures/mail-icon-black.png" class="icon">
                        <a href="mailto:ensmasteel.clubrobotique@gmail.com" class="text preserve link">ensmasteel.clubrobotique@gmail.com</a>
                    </div>
                    <div class="row-container noflex gap-second">
                        <a href="https://twitter.com/Ensmasteel"><img src="/static/pictures/twitter-icon-black.png" class="icon"></a>
                        <a href="https://www.linkedin.com/company/association-ensmasteel/"><img src="/static/pictures/linkedin-icon-black.png" class="icon"></a>
                        <a href="https://github.com/Ensmasteel"><img src="/static/pictures/github-icon-black.png" class="icon"></a>
                        <a href="https://www.youtube.com/@ENSMASTEEL"><img src="/static/pictures/youtube-icon-black.png" class="icon"></a>
                    </div>
                </div>
            </div>
            <img src="/static/pictures/ensma.webp" class="picture">
        </div>
    </div>

  </div>

  <iframe src="/bottom.html" class="bottom-bar"></iframe>

  <div id="background-hello" class="background-hello">
    <div id="stars-container" style="width: 100%; height: 100%;"></div>
  </div>
  <div id="background-page" class="background-page"></div>
  <div id="background-page-sublayer" class="background-page-sublayer"></div>
  <script src="/static/js/background.js"></script>

  <script src="/static/js/picture.js"></script>
  <script src="/static/js/text.js"></script>
</body>
</html>
