:root {
    --background-color-main: #fbfbfd;;
    --background-color-second: #161617;
}

.background-hello {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

.background-page {
    position: fixed;
    --screen-ratio-start: 1;
    top: calc((50 - var(--screen-ratio-start) / 2) * 1vh);
    left: calc((50 - var(--screen-ratio-start) / 2) * 1vw);
    height: calc(var(--screen-ratio-start) * 1vh);
    width: calc(var(--screen-ratio-start) * 1vw);
    z-index: -997;
    background-color: var(--background-color-main);
    opacity: 0;
    --animation-duration: 0.25s;
}
.background-page.show {
    animation: bkgPageShow var(--animation-duration) ease-out forwards;
}

@keyframes bkgPageShow {
    0% {
        opacity: 0;
        transform: scale(1);
        clip-path: inset(0 0 0 0 round 2px);
    }
    100% {
        opacity: 1;
        transform: scale(calc(100 / var(--screen-ratio-start)));
        clip-path: inset(0 0 0 0);
    }
}

.background-page-sublayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-main);
    opacity: 0;
    z-index: -998;
    transition: opacity 0.25s ease-out;
}
.background-page-sublayer.show {
    opacity: 0.8;
}

.bkg-star {
    position: fixed;
    top: var(--initY);
    left: var(--initX);
    height: calc(var(--size) / var(--distance) * 1px);    /* proportionality to scale the size */
    width: calc(var(--size) / var(--distance) * 1px);
    clip-path: ellipse(closest-side farthest-side);
    rotate: calc(var(--angle) * 1rad);
    background-color: #ffffff;
    animation-name: moveOut;
    animation-duration: calc(var(--time-to-leave) * 1s);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.770, 0.240, 0.905, 0.385);
}

@keyframes moveOut {
    0% {
        transform: translateX(0) scale(1);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateX(calc(var(--translate) * 1px)) scale(calc(var(--our-speed) * var(--time-to-leave)));
    }
}