.bottom-bar {
    position: relative;
    left: 0;
    bottom: -10px;   /* to be sure the element is covering everything */
    overflow: hidden;
    background-color: #4b4a4a;
    border: none;
    width: 100vw;
    height: 10vh;
}

.bottom-container {
    position: absolute;
    top: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5vw;
    justify-content: end;
}

.bottom-container > * > * {
    height: 70vh;
}

.github-logo {
    height: 30vh;
}