/* ASSO HELLO */

#asso-hello {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -998;
    opacity: 0;
    animation: asso-hello-entry 0.9s ease-in-out forwards 0.9s;
}
#asso-hello.slide {
    animation: helloSlideUp 0.5s ease-in forwards;
}
@keyframes asso-hello-entry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes helloSlideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

#asso-hello > :first-child {
    position: absolute;
    width: 90vw;
    top: 0;
    left: 5vw;
}
@media (min-height: calc(2 * (10vh + 8vw + 10vh + 35vh / 2))) { 
    #asso-hello > :first-child {
        padding-top: 10vh;
    }
}
#asso-hello > :first-child > .text {
    font-family: outlined;
    color: #ffffffcc;
    display: inline;
}

#asso-hello > .row-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#asso-hello > .row-container > .image-container {
    height: 35vh;
    max-width: 100%;
    display: block;
    --effect-size: 5%;
}

#asso-hello > :last-child {
    position: absolute;
    top: calc(var(--viewport-height) * 0.90);
    height: calc(var(--viewport-height) * 0.10);
    width: 100%;
}
#asso-hello > :last-child > .image-container {
    position: relative;
    display: block;
    height: calc(var(--viewport-height) * 0.04);
    width: calc(var(--viewport-height) * 0.041);
    margin: auto;
}
#asso-hello > :last-child > .image-container > img {
    animation: assoScrollDown 2.3s ease-in-out infinite;
    rotate: -90deg;
}
@keyframes assoScrollDown {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(var(--viewport-height) * 0.015));
    }
    100% {
        transform: translateX(0);
    }
}
