:root {
    --menu-bar-height: 4.5vh;
}


/* WHOLE CONTAINER */

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--menu-bar-height);
    z-index: 999;
    background-color: #16161700;
    opacity: 0;
    transition: background-color 0.5s ease, opacity 0.20s ease;
}
.menu-container.show {
    height: 100vh;
}


/* BAR */

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--menu-bar-height);
    z-index: -1;
    background-color: #161617cf;
    backdrop-filter: saturate(180%) blur(10px);
    font-weight: bold;
    gap: 10px;
}
.menu-bar .text {
    font-size: calc(var(--menu-bar-height) * 0.5);
}

.menu-bar-logo {
    height: calc(var(--menu-bar-height) * 0.7);
}
*

/* BUTTON */

.menu-button {
    position: absolute;
    z-index: 1000;
    top: calc(var(--menu-bar-height) * 0.3);
    right: 2vw;
    --menu-button-height: calc(var(--menu-bar-height) * 0.25);
    height: var(--menu-button-height);
    width: calc(var(--menu-button-height) * 2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: none;
    padding: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--text-color-second);
}

.menu-button.close .line:first-child {
    --translation: calc(var(--menu-button-height) / 2);
    --rotation: 45deg;
    animation: moveAndRotate 0.2s ease-in-out forwards;
}

.menu-button.open .line:first-child {
    --translation: calc(var(--menu-button-height) / 2);
    --rotation: 45deg;
    animation: rotateAndMove 0.2s ease-in-out forwards;
}

.menu-button.close .line:last-child {
    --translation: calc(var(--menu-button-height) / -2);
    --rotation: -45deg;
    animation: moveAndRotate 0.2s ease-in-out forwards;
}

.menu-button.open .line:last-child {
    --translation: calc(var(--menu-button-height) / -2);
    --rotation: -45deg;
    animation: rotateAndMove 0.2s ease-in-out forwards;
}

@keyframes moveAndRotate {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(var(--translation));
    }
    100% {
        transform: translateY(var(--translation)) rotate(var(--rotation));
    }
}

@keyframes rotateAndMove {
    0% {
        transform: translateY(var(--translation)) rotate(var(--rotation));
    }
    40% {
        transform: translateY(var(--translation));
    }
    100% {
        transform: translateY(0);
    }
}


/* MENU */

.menu-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0vh;
    z-index: 1;
    transition: height 0.3s ease;
}
.menu-open.show {
    height: 100vh;
}

.menu {
    position: absolute;
    top: 50px;
    height: 500px;

    display: none;
    pointer-events: none;
    overflow: hidden;
}
.menu.show {
    display: auto;
}