<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#161617" >
  <title>ENSMASTEEL</title>
  <link rel="shortcut icon" type="image/png" href="/static/pictures/ensmasteel-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/hello.css">
  <link rel="stylesheet" type="text/css" href="/static/css/background.css">
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bottom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/ensmasteel.css">
  <script src="/static/js/viewport.js"></script>
</head>
<body>

    <div id="asso-hello" class="asso-hello">
        <div>
            <span class="text preserve fit-width">ENSMASTEEL</span>
        </div>
        <div class="row-container">
            <div class="image-container fixed-height blur-around"><img src="/static/pictures/ensmasteel-logo.png"></div>
        </div>
        <div>
            <div class="image-container fixed-height"><img src="/static/pictures/arrow-icon-white.png"></div>
        </div>
    </div>

    <div id="menu-container" class="menu-container">
        <div id="menu-bar" class="menu-bar color-inverted row-container show">
            <div class="row-container left-align">
                <img src="/static/pictures/ensmasteel-logo.png" class="menu-bar-logo">
                <span class="text preserve">ENSMASTEEL</span>
            </div>
        </div>
        <button id="menu-button" class="menu-button">
            <div class="line"></div>
            <div class="line"></div>
        </button>
        <iframe src="/menu.html" style="border: none; width: 100%; height: 100%;"></iframe>
    </div>

    <div id="page-content" class="page-content">

        <div id="about" class="content-container row-container flex">
            <div class="image-container fixed-width blur-around"><img src="/static/pictures/ensmasteel-crew.webp"></div>
            <div class="text">
                <span class="text title">Who are we ?</span><br>
                <br>
                Passionate about robotics and engineering, we're a group of students determined to take on tomorrow's technological challenges. Every year, we enthusiastically prepare to take part in the Coupe de France de Robotique, the leading event in the field in France.<br>
                <br>
                Through our projects to design, build and program competitive robots, we put into practice the knowledge acquired during our engineering training. The Coupe de France de Robotique is an opportunity for us to demonstrate our technical skills, team spirit and creativity.<br>
                <br>
                We are proud to represent ISAE-ENSMA in this competition. Our aim is to push back the boundaries of robotics by developing innovative, high-performance solutions.<br>
            </div>
        </div>

        <div id="sponsors" class="content-container color-inverted column-container">
            <div class="text">
                <span class="text title preserve centered">Our partners</span><br>
                <span class="text centered">We would like to thank our partners for supporting our projects</span>
            </div>
            <div class="row-container flex top-align">
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensma-logo.png"></div>
                    <a href="https://www.ensma.fr" class="text preserve subtitle link">ISAE-ENSMA</a>
                </div>
            </div>
            <a class="text subtitle centered link" href="/ensmasteel/en/sponsor">How to become a sponsor ? ›</a>
        </div>

        <div id="development" class="content-container column-container">
            <div class="text">
                <span class="text title centered">Development</span><br>
                <span class="text centered">Here are the main development areas carried out each year for the Coupe de France de Robotique project</span>
            </div>
            <div class="row-container flex top-align">
                <div class="column-container">
                    <div class="image-container fixed-height blur-around"><img src="/static/pictures/catia-logo.png"></div>
                    <div class="text">
                        <span class="text centered preserve subtitle">CAO</span><br>
                        Catia V5 is our software of choice for the mechanical design of our robot. The know-how that the school's training provides enables us to design our robots with ease.
                    </div>
                </div>
                <div class="column-container">
                    <div class="image-container fixed-height blur-around"><img src="/static/pictures/ensmasteel-mainBoard-2023.png"></div>
                    <div class="text">
                        <span class="text centered preserve subtitle">Electronics</span><br>
                        Each year we design and assemble our own printed circuit boards to meet the needs of our robots.
                    </div>
                </div>
                <div class="column-container">
                    <div class="image-container fixed-height blur-around"><img src="/static/pictures/cpp-logo.png"></div>
                    <div class="text">
                        <span class="text centered preserve subtitle">Programming</span><br>
                        Mainly C++, but going towards a ROS2 architecture.<br>
                        <a href="https://github.com/titofra/Ensmasteel-2023-2024-Code" class="text link">More about our code ›</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="participations" class="content-container color-inverted column-container">
            <div class="text">
                <span class="text title preserve centered">Participation in the French robotics cup</span><br>
                <span class="text centered">Here are the latest ENSMASTEEL entries for the Coupe de France de Robotique. This list is not exhaustive.</span>
            </div>
            <div class="row-container flex top-align">
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src=""></div>
                    <a href="https://github.com/Ensmasteel/Robot-2025-2024" class="text preserve subtitle link">2025</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src=""></div>
                    <a href="https://github.com/Ensmasteel/Code-2024-2023" class="text preserve subtitle link">2024</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensmasteel-robot-2023.png"></div>
                    <a href="https://github.com/Ensmasteel/Robot-2022-2023" class="text preserve subtitle link">2023</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensmasteel-robot-2022.png"></div>
                    <a href="https://github.com/Ensmasteel/Robot-2021-2022" class="text preserve subtitle link">2022</a>
                </div>
            </div>
        </div>

        <div id="contacts" class="content-container row-container flex">
            <div class="column-container left-align">
                <span class="text preserve title">Contacts</span>
                <div class="row-container">
                    <div class="image-container blur-around fixed-height"><img src="/static/pictures/location-icon-black.png"></div>
                    <span class="text preserve">1 Avenue Clément Ader, Chasseneuil du Poitou</span>
                </div>
                <div class="row-container">
                    <div class="image-container blur-around fixed-height"><img src="/static/pictures/mail-icon-black.png"></div>
                    <a href="mailto:ensmasteel.clubrobotique@gmail.com" class="text preserve link">ensmasteel.clubrobotique@gmail.com</a>
                </div>
                <div class="row-container">
                    <a href="https://twitter.com/Ensmasteel"><div class="image-container blur-around fixed-height"><img src="/static/pictures/twitter-icon-black.png"></div></a>
                    <a href="https://www.linkedin.com/company/association-ensmasteel/"><div class="image-container blur-around fixed-height"><img src="/static/pictures/linkedin-icon-black.png"></div></a>
                    <a href="https://github.com/Ensmasteel"><div class="image-container blur-around fixed-height"><img src="/static/pictures/github-icon-black.png"></div></a>
                    <a href="https://www.youtube.com/@ENSMASTEEL"><div class="image-container blur-around fixed-height"><img src="/static/pictures/youtube-icon-black.png"></div></a>
                </div>
            </div>
            <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensma.webp"></div>
        </div>

    </div>

    <iframe src="/bottom.html" class="bottom-bar"></iframe>

    <div id="background-hello" class="background-hello">
        <div id="stars-container" class="bkg-stars-container"></div>
    </div>
    <div id="background-page" class="background-page"></div>
    <div id="background-page-sublayer" class="background-page-sublayer"></div>
    <script src="/static/js/background.js"></script>

    <script src="/static/js/picture.js"></script>
    <script src="/static/js/text.js"></script>
</body>
</html>
