<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#161617" >
  <title>ENSMASTEEL</title>
  <link rel="shortcut icon" type="image/png" href="/static/pictures/ensmasteel-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/hello.css">
  <link rel="stylesheet" type="text/css" href="/static/css/background.css">
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bottom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/ensmasteel.css">
  <script src="/static/js/viewport.js"></script>
</head>
<body>

    <div id="asso-hello" class="asso-hello">
        <div>
            <span class="text preserve fit-width">ENSMASTEEL</span>
        </div>
        <div class="row-container">
            <div class="image-container fixed-height blur-around"><img src="/static/pictures/ensmasteel-logo.png"></div>
        </div>
        <div>
            <div class="image-container fixed-height"><img src="/static/pictures/arrow-icon-white.png"></div>
        </div>
    </div>

    <div id="menu-container" class="menu-container">
        <div id="menu-bar" class="menu-bar color-inverted row-container show">
            <div class="row-container left-align">
                <img src="/static/pictures/ensmasteel-logo.png" class="menu-bar-logo">
                <span class="text preserve">ENSMASTEEL</span>
            </div>
        </div>
        <button id="menu-button" class="menu-button">
            <div class="line"></div>
            <div class="line"></div>
        </button>
        <iframe src="/menu.html" style="border: none; width: 100%; height: 100%;"></iframe>
    </div>

    <div id="page-content" class="page-content">

        <div id="about" class="content-container row-container flex">
            <div class="image-container fixed-width blur-around"><img src="/static/pictures/ensmasteel-crew.webp"></div>
            <div class="text">
                <span class="text title">Qui sommes nous ?</span><br>
                <br>
                Passionnés de robotique et d'ingénierie, nous sommes un groupe d'étudiants déterminés à relever les défis technologiques de demain. Chaque année, nous nous préparons avec enthousiasme pour participer à la Coupe de France de Robotique, l'événement phare du domaine en France.<br>
                <br>
                À travers nos projets de conception, de construction et de programmation de robots compétitifs, nous mettons en pratique nos connaissances acquises au sein de notre formation d'ingénieur. La Coupe de France de Robotique est l'occasion pour nous de démontrer nos compétences techniques, notre esprit d'équipe et notre créativité.<br>
                <br>
                Nous sommes fiers de représenter l'ISAE-ENSMA lors de cette compétition. Notre objectif est de repousser les limites de la robotique en développant des solutions innovantes et performantes.<br>
            </div>
        </div>

        <div id="sponsors" class="content-container color-inverted column-container">
            <div class="text">
                <span class="text title preserve centered">Nos partenaires</span><br>
                <span class="text centered">Nous remercions nos partenaires pour leur soutien à nos projets</span>
            </div>
            <div class="row-container flex top-align">
                <div class="column-container">
                    <div class="image-container blur-around fixed-width center"><img src="/static/pictures/ensma-logo.png"></div>
                    <a href="https://www.ensma.fr" class="text preserve subtitle link">ISAE-ENSMA</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width center"><img src="/static/pictures/futurolab-loog.jpg"></div>
                    <a href="https://www.ensma.fr/fr/futurolab/" class="text preserve subtitle link">Futurolab</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width center"><img src="/static/pictures/CATourainePoitou.webp"></div>
                    <a href="https://www.credit-agricole.fr/ca-tourainepoitou/particulier/agence/touraine-poitou/jaunay-clan-5023.html" class="text subtitle link">Crédit Agricole de la Touraine et du Poitou</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width center"><img src="/static/pictures/LDOMotors.png"></div>
                    <a href="https://ldomotors.com" class="text preserve subtitle link">LDO Motors</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width center"><img src="/static/pictures/Francofil.png"></div>
                    <a href="https://francofil.fr" class="text preserve subtitle link">Francofil</a>
                </div>
            </div>
            <a class="text subtitle centered link" href="/ensmasteel/fr/sponsor">Comment devenir partenaires ? ›</a>
        </div>

        <div id="development" class="content-container column-container">
            <div class="text">
                <span class="text title centered">Développement</span><br>
                <span class="text centered">Voici les principaux pôles de développement effectués chaque année sur le projet de la Coupe de France de Robotique</span>
            </div>
            <div class="row-container flex top-align">
                <div class="column-container">
                    <div class="image-container fixed-height blur-around"><img src="/static/pictures/catia-logo.png"></div>
                    <div class="text">
                        <span class="text centered preserve subtitle">CAO</span><br>
                        Catia V5 est notre logiciel de choix pour la conception méanique de notre robot. Le savoir faire que la formation de l'école nous offre nous permet de concevoir avec facilité nos robots.
                    </div>
                </div>
                <div class="column-container">
                    <div class="image-container fixed-height blur-around"><img src="/static/pictures/ensmasteel-mainBoard-2023.png"></div>
                    <div class="text">
                        <span class="text centered preserve subtitle">Électronique</span><br>
                        Chaque année nous concevons et fabriquons nos propres circuit imprimés afin de satifaire au plus au besoin de notre robot.
                    </div>
                </div>
                <div class="column-container">
                    <div class="image-container fixed-height blur-around"><img src="/static/pictures/cpp-logo.png"></div>
                    <div class="text">
                        <span class="text centered preserve subtitle">Code</span><br>
                        Principalement le C++, mais nous utilisons de plus en plus ROS2.<br>
                        <a href="https://github.com/titofra/Ensmasteel-2023-2024-Code" class="text link">Voir plus ›</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="participations" class="content-container color-inverted column-container">
            <div class="text">
                <span class="text title centered">Participations à la Coupe de France de Robotique</span><br>
                <span class="text centered">Voici les dernières participations de l'ENSMASTEEL à la Coupe de France de Robotique. Cette liste est non exhaustive.</span>
            </div>
            <div class="row-container flex top-align">
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src=""></div>
                    <a href="https://github.com/Ensmasteel/Robot-2024-2025" class="text preserve subtitle link">2025</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensmasteel-robot-2024.jpg"></div>
                    <a href="https://github.com/Ensmasteel/Code-2023-2024" class="text preserve subtitle link">2024</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensmasteel-robot-2023.png"></div>
                    <a href="https://github.com/Ensmasteel/Robot-2022-2023" class="text preserve subtitle link">2023</a>
                </div>
                <div class="column-container">
                    <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensmasteel-robot-2022.png"></div>
                    <a href="https://github.com/Ensmasteel/Robot-2021-2022" class="text preserve subtitle link">2022</a>
                </div>
            </div>
        </div>

        <div id="contacts" class="content-container row-container flex">
            <div class="column-container left-align">
                <span class="text preserve title">Contacts</span>
                <div class="row-container">
                    <div class="image-container blur-around fixed-height"><img src="/static/pictures/location-icon-black.png"></div>
                    <span class="text nullminwidth">1 Avenue Clément Ader, Chasseneuil du Poitou</span>
                </div>
                <div class="row-container">
                    <div class="image-container blur-around fixed-height"><img src="/static/pictures/mail-icon-black.png"></div>
                    <a href="mailto:ensmasteel.clubrobotique@gmail.com" class="text preserve link">ensmasteel.clubrobotique@gmail.com</a>
                </div>
                <div class="row-container">
                    <a href="https://twitter.com/Ensmasteel"><div class="image-container blur-around fixed-height"><img src="/static/pictures/twitter-icon-black.png"></div></a>
                    <a href="https://www.linkedin.com/company/association-ensmasteel/"><div class="image-container blur-around fixed-height"><img src="/static/pictures/linkedin-icon-black.png"></div></a>
                    <a href="https://github.com/Ensmasteel"><div class="image-container blur-around fixed-height"><img src="/static/pictures/github-icon-black.png"></div></a>
                    <a href="https://www.youtube.com/@ENSMASTEEL"><div class="image-container blur-around fixed-height"><img src="/static/pictures/youtube-icon-black.png"></div></a>
                </div>
            </div>
            <div class="image-container blur-around fixed-width"><img src="/static/pictures/ensma.webp"></div>
        </div>

    </div>

    <iframe src="/bottom.html" class="bottom-bar"></iframe>

    <div id="background-hello" class="background-hello">
        <div id="stars-container" class="bkg-stars-container"></div>
    </div>
    <div id="background-page" class="background-page"></div>
    <div id="background-page-sublayer" class="background-page-sublayer"></div>
    <script src="/static/js/background.js"></script>

    <script src="/static/js/picture.js"></script>
    <script src="/static/js/text.js"></script>
</body>
</html>
