<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    </head>
<body style="overflow: hidden;">
    <div style="position: fixed; bottom: 0; left: 0; width: 100vw;">
        <a href="https://github.com/titofra/ESP-website" target="_parent">
            <img src="/static/pictures/github.png" style="position: fixed; right: 25px; bottom: 10px; width: 5vw; height: auto;">
        </a>
    </div>
</body>
</html>