<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/background.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bottom.css">
    </head>
<body>
    <div class="bottom-container">
        <a href="https://www.ensma.fr" target="_parent">
            <img src="/static/pictures/ensma-logo-white.png" class="ensma-logo">
        </a>
        <a href="https://www.ensma.fr" target="_parent">
            <img src="/static/pictures/ensma-groupes.png" class="ensma-groupes-logo">
        </a>
        <a href="https://github.com/titofra/ESP-website" target="_parent">
            <img src="/static/pictures/github.png" class="github-logo">
        </a>
    </div>
</body>
</html>