<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESP</title>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/background.css">
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>
<body>

  <div class="background"></div>
  <div class="shape-container" id="shape-container"></div>
  <script src="/static/js/background.js" defer></script>

  <div class="asso-hello">
    <div class="asso-name">
      Ensma Space Project
    </div>
    <img src="/static/pictures/ESPlogo.png" style="height: 50vh; width: auto; display: block; margin-left: auto; margin-right: auto; margin-top: 10vh;">
    <a href="#page-content">
      <img src="/static/pictures/scrolldown.gif" style="height: 5vh; width: auto; display: block; margin-left: auto; margin-right: auto; margin-top: 15vh;">
    </a>
  </div>

  <div class="fixed-header">
    <iframe src="menu.html" style="border: none; width: 100vw; height: auto;"></iframe>
  </div>

  <div id="page-content" class="page-content">
    <div style="text-align: center;">
      <br>
      <b class="title">Bienvenue sur le site de l'ENSMA SPACE PROJECT</b>
      <br>
      <br>
      <span class="text">L’ESP est une des associations de l’École Nationale Supérieure de Mécanique et d’Aérotechnique (ISAE-ENSMA).</span>
      <br>
      <br>
      <br>
      <img src="/static/pictures/ensma.webp" class="picture">
      <br>
      <br>
      <br>
    </div>
    <div style="text-align: justify;">
      <br>
      <div class="text">
        <span>Lancé en 2011, il propose aux étudiants divers projets scientifiques sur le thème de l’aérospatial. Il s’agit, pour la plupart, de projets Planète-sciences ou de projets CNES.</span>
        <br>
        <br>
        <span>L’ENSMA étant spécialisée dans la formation d’ingénieurs aéronautiques et aérospatiaux, ce club a toute sa place au sein de l’école et bénéficie d’un soutien solide de la part de l’administration et des enseignants.</span>
        <br>
        <br>
        <span>Satellites, fusées, ballon sonde, drone…autant de projets ouverts à tous les étudiants de l’école qui peuvent ainsi s’initier à la conduite de projets techniques de haut niveau et acquérir des compétences essentielles à un ingénieur.</span>
        <br>
        <br>
        <span>Ce site présente les différents projets de l’ESP et l’avancement de chaque projet.</span>
      </div>
      <br>
      <br>
    </div>
    <br>
  </div>
  <script src="/static/js/scroll-reveal.js"></script>

  <iframe src="bottom.html" style="border: none; width: 100vw; height: auto;"></iframe>

  <script src="/static/js/scroll-anchor.js"></script>
</body>
</html>
