<!DOCTYPE html>
<html lang="fr" style="overflow: scroll;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/background.css">
        <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
    </head>
<body class="color-inverted" style="height: 100vh; background-color: #00000000;">
    <div id="menu-open" class="menu-open"></div>
    <img id="back-arrow" src="/static/pictures/arrow-icon-white.png" class="menu-back-arrow">
    <div id="primary-menu" class="column-container noflex nogap left-align menu">
        <a href="/" class="text few-words title link" target="_parent">Ensma Space Project</a>
        <a href="/ensmasteel/" class="text few-words title link" target="_parent">Ensmasteel</a>
        <button id="fusex" type="button" class="text few-words title link bold-link">Fusées Expérimentales</button>
        <button id="naasc" type="button" class="text few-words title link bold-link">NAASC</button>
        <a href="/ensmasteel/" class="text few-words title link" target="_parent">Ensmasteel</a>
        <a href="/" class="text few-words title link" target="_parent">Ensma Space Project</a>
        <a href="/ensmasteel/" class="text few-words title link" target="_parent">Ensmasteel</a>
        <a href="/" class="text few-words title link" target="_parent">Ensma Space Project</a>
        <a href="/ensmasteel/" class="text few-words title link" target="_parent">Ensmasteel</a>
        <a href="/" class="text few-words title link" target="_parent">Ensma Space Project</a>
        <a href="/ensmasteel/" class="text few-words title link" target="_parent">Ensmasteel</a>
    </div>
    <div id="fusex-menu" class="column-container noflex nogap left-align menu secondary-margin">
        <a href="/fusex" class="text few-words title link" target="_parent">Fusées Expérimentales</a>
        <a href="/" class="text few-words title link" target="_parent">Lorem ipsum</a>
        <a href="/" class="text few-words title link" target="_parent">dolor sit amet</a>
        <a href="/" class="text few-words title link" target="_parent">Lorem ipsum</a>
        <a href="/" class="text few-words title link" target="_parent">dolor sit amet</a>
    </div>
    <div id="naasc-menu" class="column-container noflex nogap left-align menu secondary-margin">
        <a href="/naasc" class="text few-words title link" target="_parent">NAASC</a>
        <a href="/" class="text few-words title link" target="_parent">Lorem ipsum</a>
        <a href="/" class="text few-words title link" target="_parent">dolor sit amet</a>
        <a href="/" class="text few-words title link" target="_parent">Lorem ipsum</a>
        <a href="/" class="text few-words title link" target="_parent">dolor sit amet</a>
    </div>
    <script src="/static/js/menu.js"></script>
</body>
</html>