<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/background.css">
        <script src="/static/js/viewport.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
    </head>
<body class="color-inverted" style="height: 100vh; background-color: #00000000;">
    <div id="menu-open" class="menu-open"></div>
    <img id="back-arrow" src="/static/pictures/arrow-icon-white.png" class="menu-back-arrow">
    <div class="row-container noflex left-align top-align row-container-menu">
        <div id="primary-menu" class="column-container noflex nogap left-align menu">
            <a href="/" class="text preserve title link" target="_parent">Ensma Space Project</a>
            <a href="/ensmasteel" class="text preserve title link" target="_parent">ENSMASTEEL</a>
            <button id="fusex" type="button" class="text preserve title link bold-link">Fusées Expérimentales</button>
            <button id="minif" type="button" class="text preserve title link bold-link">Mini Fusées</button>
            <button id="naasc" type="button" class="text preserve title link bold-link">NAASC</button>
            <a href="/cspace" class="text preserve title link" target="_parent">C'Space</a>
            <button id="défi-aéro" type="button" class="text preserve title link bold-link">Défis Aérospatiaux</button>
            <a href="/uav-challenge" class="text preserve title link" target="_parent">UAV Challenge</a>
            <a href="/vol-zero-g" class="text preserve title link" target="_parent">Vol Zéro-G</a>
            <a href="/ballon-sonde" class="text preserve title link" target="_parent">Ballons Sondes</a>
            <a href="/fahrsat" class="text preserve title link" target="_parent">Fahrsat</a>
        </div>
        <div id="submenus">
            <div id="fusex-menu" class="column-container noflex nogap left-align menu">
                <a href="/fusex" class="text preserve title link" target="_parent">Fusées Expérimentales</a>
                <a href="/fusex/icarus" class="text preserve title link" target="_parent">Icarus</a>
                <a href="/fusex/phobos-deimos" class="text preserve title link" target="_parent">Phobos & Deimos</a>
                <a href="/fusex/plume23" class="text preserve title link" target="_parent">Plume23</a>
                <a href="/fusex/volokna" class="text preserve title link" target="_parent">Volokna</a>
                <a href="/fusex/ceos" class="text preserve title link" target="_parent">CEOS</a>
                <a href="/fusex/apollon-diane" class="text preserve title link" target="_parent">Apollon et Diane</a>
                <a href="/fusex/tic-tac" class="text preserve title link" target="_parent">Tic et Tac</a>
                <a href="/fusex/constellation" class="text preserve title link" target="_parent">Constellation</a>
                <a href="/fusex/prometheeII" class="text preserve title link" target="_parent">Prométhée II</a>
                <a href="/fusex/promethee" class="text preserve title link" target="_parent">Prométhée</a>
                <a href="/fusex/deneb" class="text preserve title link" target="_parent">Deneb</a>
                <a href="/fusex/ensmasteroides" class="text preserve title link" target="_parent">ENSMAstéroïdes</a>
                <a href="/fusex/orion" class="text preserve title link" target="_parent">Orion</a>
            </div>
            <div id="minif-menu" class="column-container noflex nogap left-align menu">
                <a href="/minif" class="text preserve title link" target="_parent">Mini Fusées</a>
                <a href="/minif/iris" class="text preserve title link" target="_parent">Iris</a>
                <a href="/minif/horus" class="text preserve title link" target="_parent">Horus</a>
                <a href="/minif/astreos" class="text preserve title link" target="_parent">Astréos</a>
                <a href="/minif/calypso" class="text preserve title link" target="_parent">Calypso</a>
                <a href="/minif/ninfea" class="text preserve title link" target="_parent">Ninfea</a>
                <a href="/minif/wells-cosmos" class="text preserve title link" target="_parent">Wells-Cosmos</a>
                <a href="/minif/hermes" class="text preserve title link" target="_parent">Hermès</a>
                <a href="/minif/atlasvi" class="text preserve title link" target="_parent">Atlas VI</a>
                <a href="/minif/ensma" class="text preserve title link" target="_parent">E.N.S.M.A</a>
                <a href="/minif/millenium" class="text preserve title link" target="_parent">Millenium</a>
                <a href="/minif/air-chassou" class="text preserve title link" target="_parent">Air Chassou</a>
                <a href="/minif/ensmoa" class="text preserve title link" target="_parent">ENSM'OA</a>
                <a href="/minif/skyview" class="text preserve title link" target="_parent">Skyview</a>
            </div>
            <div id="naasc-menu" class="column-container noflex nogap left-align menu">
                <a href="/naasc" class="text preserve title link" target="_parent">NAASC</a>
                <a href="/naasc/plume" class="text preserve title link" target="_parent">Plume</a>
                <a href="/naasc/cansat" class="text preserve title link" target="_parent">CanSat</a>
            </div>
        </div>
    </div>
    <script src="/static/js/menu.js"></script>
</body>
</html>