<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
    </head>
<body style="overflow: hidden;">
    <button id="collapsible-menu" type="button" class="menu-entry"></button>
    <div id="menu-content" class="menu primary">
        <br>
        <br>
        <a href="/" class="text menu-text link" target="_parent">Ensma Space Project</a>
        <br>
        <br>
        <a href="/ensmasteel/" class="text menu-text link" target="_parent">Ensmasteel</a>
        <br>
        <br>
        <button id="fusex" type="button" class="text menu-text link bold-link">Fusées Expérimentales</button>
        <br>
        <br>
    </div>
    <div id="fusex-content" class="menu secondary">
        <br>
        <br>
        <a href="/fusex.html" class="text menu-text link" target="_parent">Fusées Expérimentales</a>
        <br>
        <br>
        <a href="/" class="text menu-text link" target="_parent">Lorem ipsum</a>
        <br>
        <br>
        <a href="/" class="text menu-text link" target="_parent">dolor sit amet</a>
        <br>
        <br>
    </div>
    <script src="/static/js/menu.js"></script>
</body>
</html>