<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#161617" >
  <title>ESP</title>
  <link rel="shortcut icon" type="image/png" href="/static/pictures/esp-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/background.css">
  <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bottom.css">
  <script src="/static/js/viewport.js"></script>
</head>
<body style="width: 100vw; height: 100vh; overflow: hidden;">

  <div id="menu-container" class="menu-container" style="opacity: 1;">
    <div id="menu-bar" class="menu-bar color-inverted row-container noflex show">
    </div>
    <button id="menu-button" class="menu-button">
        <div class="line"></div>
        <div class="line"></div>
    </button>
    <iframe src="/menu.html" style="border: none; width: 100%; height: 100%;"></iframe>
  </div>

  <div class="page-content color-inverted show" style="height: 100vh; --animation-duration: 0s; --animation-delay: 0s;">
    <div class="row-container" style="max-width: unset; height: 100vh;">
        <div class="column-container">
        <img src="/static/pictures/under_construction.png" class="picture no-edit" style="height: 50vh">
        <div class="column-container gap-cr">
            <span class="text title centered" >Arrgh vous êtes trop rapide, le site est encore en construction... 🚧</span>
            <a href="https://github.com/titofra/ESP-website" class="text title subtitle centered link">En attendant, ça vous dit un petit tour sur le GitHub ? ›</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

